.container{
    left: 50%;
    top: 50%;
    display: grid;
    column-gap: 0;
    grid-template-areas:
    "title"
    "form"
    "keypad";
    background: black;
    margin: auto;
    padding: 5%;
    border: 5% black solid;
    border-radius: 10px;
    height: auto;
    width: fit-content;
}

.title{
    grid-area: title;
    text-align: center;
    color: aqua;
}

.inputform{
    grid-area: form;
    font-size: 200%;
}

input{
    background-color: black;
    color: white;
    width: 100%;
    font-size: 135%;
}

.numberbuttons{
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: auto;
    width: auto;
    cursor: pointer;
    color: white;
    background:green;
    font-size: large;
}

.operationbuttons{
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: auto;
    width: auto;
    cursor: pointer;
    color: white;
    background:yellowgreen;
}

.keypad{
    display: grid;
    grid-area: keypad;
    grid-template-columns: auto auto auto auto;
    height: 8cm;
   }   

