.container{
    left: 50%;
    top: 50%;
    display: grid;
    column-gap: 0;
    grid-template-areas:
    "title"
    "form"
    "keypad";
    background: #9575cd;
    margin: auto;
    padding: 2%;
    border: 3% black solid;
    border-radius: 10px;
    width: fit-content;
}

.title{
    grid-area: title;
    text-align: center;
    color: aqua;
}

.inputform{
    grid-area: form;
    font-size: 200%;
    align-content: center;
}

input{
    background-color:#9575cd;
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 135%;
}

.numberbuttons{
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 80%;
    width: 80%;
    cursor: pointer;
    color: white;
    background:#2196f3;
    font-size: large;
}

.operationbuttons{
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 80%;
    width: 80%;
    cursor: pointer;
    color: white;
    background:yellowgreen;
}

.keypad{
    display: grid;
    grid-area: keypad;
    grid-template-columns: 25% 25% 25% 25%;
    height: 8cm;
   }   

